In [6]:
data = {
    'CHN': {'COUNTRY': 'China', 'POP': 1_398.72, 'AREA': 9_596.96, 'GDP': 12_234.78, 'CONT': 'Asia'},
    'IND': {'COUNTRY': 'India', 'POP': 1_351.16, 'AREA': 3_287.26, 'GDP': 2_575.67, 'CONT': 'Asia', 'IND_DAY': '1947-08-15'},
    'USA': {'COUNTRY': 'US', 'POP': 329.74, 'AREA': 9_833.52, 'GDP': 19_485.39, 'CONT': 'N.America', 'IND_DAY': '1776-07-04'},
    'BRA': {'COUNTRY': 'Brazil', 'POP': 210.32, 'AREA': 8_515.77, 'GDP': 2_055.51, 'CONT': 'S.America', 'IND_DAY': '1822-09-07'},
    'JPN': {'COUNTRY': 'Japan', 'POP': 126.22, 'AREA': 377.97, 'GDP': 4_872.42, 'CONT': 'Asia'}
}

columns = ('COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY')

In [7]:
print(data)
print(columns)

{'CHN': {'COUNTRY': 'China', 'POP': 1398.72, 'AREA': 9596.96, 'GDP': 12234.78, 'CONT': 'Asia'}, 'IND': {'COUNTRY': 'India', 'POP': 1351.16, 'AREA': 3287.26, 'GDP': 2575.67, 'CONT': 'Asia', 'IND_DAY': '1947-08-15'}, 'USA': {'COUNTRY': 'US', 'POP': 329.74, 'AREA': 9833.52, 'GDP': 19485.39, 'CONT': 'N.America', 'IND_DAY': '1776-07-04'}, 'BRA': {'COUNTRY': 'Brazil', 'POP': 210.32, 'AREA': 8515.77, 'GDP': 2055.51, 'CONT': 'S.America', 'IND_DAY': '1822-09-07'}, 'JPN': {'COUNTRY': 'Japan', 'POP': 126.22, 'AREA': 377.97, 'GDP': 4872.42, 'CONT': 'Asia'}}
('COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY')

In [13]:
import pandas as pd

In [9]:
df = pd.DataFrame(data).T
df

    COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN   China  1398.72  9596.96  12234.78       Asia         NaN
IND   India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA      US   329.74  9833.52  19485.39  N.America  1776-07-04
BRA  Brazil   210.32  8515.77   2055.51  S.America  1822-09-07
JPN   Japan   126.22   377.97   4872.42       Asia         NaN

In [20]:
df = pd.DataFrame(data=data, index=columns).T
df

    COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN   China  1398.72  9596.96  12234.78       Asia         NaN
IND   India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA      US   329.74  9833.52  19485.39  N.America  1776-07-04
BRA  Brazil   210.32  8515.77   2055.51  S.America  1822-09-07
JPN   Japan   126.22   377.97   4872.42       Asia         NaN

In [24]:
df = pd.DataFrame.from_dict(data, orient='index')
df = df.reindex(columns=columns)
df

    COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN   China  1398.72  9596.96  12234.78       Asia         NaN
IND   India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA      US   329.74  9833.52  19485.39  N.America  1776-07-04
BRA  Brazil   210.32  8515.77   2055.51  S.America  1822-09-07
JPN   Japan   126.22   377.97   4872.42       Asia         NaN

In [25]:
df.to_csv('data.csv')

In [27]:
df = pd.read_csv('data.csv', index_col=0)
df

    COUNTRY      POP     AREA       GDP       CONT     IND_DAY
CHN   China  1398.72  9596.96  12234.78       Asia         NaN
IND   India  1351.16  3287.26   2575.67       Asia  1947-08-15
USA      US   329.74  9833.52  19485.39  N.America  1776-07-04
BRA  Brazil   210.32  8515.77   2055.51  S.America  1822-09-07
JPN   Japan   126.22   377.97   4872.42       Asia         NaN

In [8]:
df.to_excel('data.xlsx')

In [9]:
df = pd.read_excel('data.xlsx', index_col=0)